html{
    background-color: #DFCFBE;
}
.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;

    box-sizing: border-box;
}

.sidebar{
 width: 34%;
    float: right;
    background-color: #e5e9dc;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    font-size: 85%;
}
