html {
    background-color: #DFCFBE;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;

    box-sizing: border-box;
}
.HeaderBox{
    border-bottom: 3px solid black;
}
.sidebar {
    width: 100%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    font-size: 85%;
}

.boxstyle {
    background-color: #e5e9dc;
    padding: 10px;
    box-sizing: border-box;
    font-size: 85%;
}

.column {
    width: 100%;
    padding: 5px;
}

pre {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    margin-bottom: 10px;
    overflow: auto;
    width: auto;
    padding: 5px;
    background-color: #eee;
    width: 100%;
    padding-bottom: 20px;
    max-height: 600px;
}

header {
    padding-top: 20px;
    padding-bottom: 10px;
    color: black;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Center the image */
.image-container {
    text-align: center;
}

/* Site Navigation */
.site li {
    list-style: none;
    float: left;
    margin-right: 10px;
}

.site ul {
    margin: 0;
    padding: 0;
}

.site {
    margin-top: 20px;
}

.site a {
    display: inline-block;
    color: sandybrown;
    text-decoration: none;
    padding: 10px 10px;
    border: 2px solid sandybrown;
}

.site a:hover {
    background-color: red;
}

.Professional-summary
{
    color: #856d8d; /* Complementary color to light blue */
    border: 3px solid #856d8d;
    margin-top: 40px;
    box-shadow: inset 3px 5px 5px rgba(0,0,0,.15), 10px 5px 5px rgba(0,0,0,.15);
    border-radius: 10px;
    text-align: center;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .sidebar,
    .boxstyle {
        width: 100%;
        padding: 10px;
    }
}

